<div data-controller="toolbar">
  <%= form_with url: root_path, method: :get, data: {toolbar_target: "getform"} do |form| %>
    <div class="flex justify-between my-10 space-x-4">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Location</span>
        </label>
        <%= form.select :location, 
                        options_for_select(FakeUser::LOCATIONS, @selected_location || "en-US"), 
                        {}, 
                        { 
                          class: "select select-bordered select-sm", data: {
                            toolbar_target: "location", 
                            action: "toolbar#submitForm"
                          }
                        } %>

      </div>

      <div class="flex space-x-3">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Error</span>
          </label>
          <%= form.number_field :error,
                class: "input w-24 input-bordered input-sm", 
                min: "1", 
                max: "1000", 
                value: @error_value || 20,
                data: {
                        toolbar_target: "errorField", 
                        action: "toolbar#changeErrorRange"
                      }
          %>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Error (Range)</span>
          </label>
          <div class="relative mb-6">
              <input type="range" value="10" min="1" max="1000" step="100" class="w-full h-2 bg-secondary rounded-lg appearance-none cursor-pointer" data-toolbar-target="errorRange" data-action="toolbar#changeErrorField">
              <span class="text-sm absolute text-neutral start-0 -bottom-6">1</span>
              <span class="text-sm absolute text-neutral end-0 -bottom-6">1000</span>
          </div>
        </div>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Seed</span>
        </label>
        <div class="join">
          <%= form.number_field :seed, class: "input input-bordered input-sm join-item", data: {toolbar_target: "seedField"}, value: @seed || 232323 %>
          <button class="btn btn-sm btn-secondary join-item" data-action="toolbar#generateRandomSeed">
            <svg width="24" height="24" fill-rule="evenodd" clip-rule="evenodd">
              <path d="M21.67 3.955l-2.825-2.202.665-.753 4.478 3.497-4.474 3.503-.665-.753 2.942-2.292h-4.162c-3.547.043-5.202 3.405-6.913 7.023 1.711 3.617 3.366 6.979 6.913 7.022h4.099l-2.883-2.247.665-.753 4.478 3.497-4.474 3.503-.665-.753 2.884-2.247h-4.11c-3.896-.048-5.784-3.369-7.461-6.858-1.687 3.51-3.592 6.842-7.539 6.858h-2.623v-1h2.621c3.6-.014 5.268-3.387 6.988-7.022-1.72-3.636-3.388-7.009-6.988-7.023h-2.621v-1h2.623c3.947.016 5.852 3.348 7.539 6.858 1.677-3.489 3.565-6.81 7.461-6.858h4.047z"/>
            </svg>
          </button>
        </div>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">Export</span>
        </label>
        <%= button_to "", name: "export", value: "csv", class: "btn btn-secondary btn-sm", data: {turbo: false} do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
